<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cd.mytestdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
            android:name=".common.view.base.MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b762ebbb27b0a582f000015" /><!--友盟 Appkey 自己应用注册申请来的-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!--渠道号，多渠道这里使用了占位符$-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".glide.GlideTestActivity"/>
        <activity android:name=".excem.TopicActivity"/>
        <activity android:name=".cardview.CardViewActivity"/>
        <activity android:name=".testfragment.TestFragmentActivity"/>
        <activity android:name=".bluetooth.BluetoothActivity"/>
        <activity android:name=".dialog.DialogActivity"/>
        <activity android:name=".viewpage.ViewPageActivity"/>
        <activity android:name=".towEnResult.TowEnResultActivity"/>
        <activity android:name=".tbs.TbsActivity"/>
        <activity android:name=".progressView.ProgressActivity"/>
        <activity android:name=".cache.CacheActivity"/>
        <activity android:name=".cache.ImageActivity"/>
        <activity android:name=".touchview.TouchViewActivity"/>
        <activity android:name=".studentbox.StudentBoxActivity"/>
        <activity
                android:name="com.tencent.smtt.sdk.VideoActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:exported="false"
                android:launchMode="singleTask"
                android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>